# Base de Datos (PostgreSQL con PostGIS)
DATABASE_URL=postgresql://usuario:password@localhost:5432/pua_db

# Seguridad JWT
SECRET_KEY=tu_super_clave_secreta_super_segura_y_larga
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# CORS (orígenes separados por coma)
ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
